@import url(https://fonts.googleapis.com/css?family=Poppins&subset=latin,latin-ext);

/**
 * Color scheme
 * Credits: http://www.lolcolors.com/
 *
 * #ff7473 - red
 * #ffc952 - yellow
 * #47b8e0 - blue
 * #34314c - blacky
 */

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    color: #34314c;
    font-family: Poppins, sans-serif;
}

header
{
    padding: 10px;
    border-bottom: 2px solid #47b8e0;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

navbar, chat, create-message {
    display: block;
}

create-message {
    margin: 10px 0;
}
